table {
    border-collapse: collapse;
  }
  
  table, th, td {
    border: 1px solid black;
  }
  
  td {
    width: 140px;
    height: 140px;
    text-align: center;
  }
  
  .highlight {
    background-color: yellow;
  }
#gameBoard{
  display: flex;
  justify-content: center;
}