table {
    border-collapse: collapse;
  }
  
 
  
  td {
    width: 100px;
    height: 100px;
    text-align: center;
    background-image: url('tronc.png');
    background-size: cover;
    
    
  }
  

   
    
  .highlight {
    background-image: url('perso.png');
    background-size: cover ;
   
    
  }

  .obstacle {
    width: 100px;
    height: 100px;
  } 

  #gameBoard{

    display: flex;
    justify-content: center;
    margin-top: 80px;
  } 

  #score{
    text-align: center;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
  }

 
  